.cards-choix {
  background-color: $white;
  display: flex;
  align-content: stretch;
  margin: 1em auto;
  width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: .2em .5em .5em 0 hsl(0, 0%, 90%);
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  animation: fade-in-cards 500ms ease-in forwards;
  @include for-size(large) {
    width: 30em;
  }
  &__main {
    position: relative;
    display: flex;
    padding: 1em;
    flex-grow: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 10em;
  }
  &__nom {
    font-weight: 700;
    margin-bottom: .3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__desc {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__prix {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 500;
  }
  &:hover {
    .cards-choix__check {
      display: flex;
      margin-right: 0;
      i {
        animation: check-roll 700ms ease 200ms;
      }
    }
  }
  &__check {
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 4.5em;
    margin-right: -4.5em;
    transition: margin-right 1s;
    i {
      color: $white;
      font-size: 1.75em;
    }
  }
}

@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay: #{$i/4}s;
  }
}

@keyframes fade-in-cards {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .25;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes check-roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}