.chips {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  padding: 1.5em;
  margin-bottom: 1.2em;
  border-radius: 1em;
  position: relative;
  box-shadow: .2em .5em .5em 0 hsl(0, 0%, 85%);
  &__num {
    position: absolute;
    left: -.7em;
    top: 1.25em;
    background-color: $primary-color;
    color: $white;
    padding: .5em;
    border-radius: 50%;
    width: .7em;
    height: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    color: hsl(0,0%, 50%);
    margin-left: .5em;
    margin-right: 1em;
    i {
      font-size: 1.3em;
      width: 1.2em;
    }
    &.icon--primary {
      color: $primary-color;
    }
  }
  &__text {
    font-weight: 700;
  }
  &:hover {
    box-shadow: .2em .5em .5em 0 hsl(0, 0%, 80%);
    .chips__icon {
      color: $primary-color;
    }
  }
}