@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFFFFF;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0.2em 0.5em 0.5em 0 #cccccc;
}
.btn:hover {
  box-shadow: 0.2em 0.5em 0.5em 0 #bfbfbf;
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.header__previous {
  position: absolute;
  display: flex;
  left: 1em;
  font-size: 1.3em;
}

.localisation {
  background-color: #e6e6e6;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 1em 0.5em -1.2em #000;
}
.localisation__icon {
  padding-right: 1em;
}

.description {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 3em;
}
.description__title {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}
.description .btn {
  margin-top: 1em;
}

.fonctionnement {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 2em 1em 3em;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu {
  position: relative;
  border-radius: 3em 3em 0 0;
  background-color: #f2f2f2;
  width: 100%;
  top: -3em;
}
.menu__media {
  overflow: hidden;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center center;
}
.menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
.menu__title {
  display: flex;
  align-items: center;
  font-family: "Shrikhand", cursive;
}
.menu__title i {
  position: absolute;
  right: 1.5em;
}
.menu__list {
  margin: auto 1em;
}
@media screen and (min-width: 992px) {
  .menu__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.menu__section h3 {
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.menu__section h3::after {
  content: "";
  background: #99E2D0;
  margin-top: 0.2em;
  width: 2.5em;
  height: 0.2em;
}
.menu__commander {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__commander .btn {
  padding: 1em 2em;
}
.menu__main {
  background-color: #f2f2f2;
}
.menu__like {
  font-size: 2em;
  position: relative;
}
.menu__like:hover .far {
  z-index: 1;
  animation: like-regular 75ms ease forwards;
}
.menu__like:hover .fas {
  animation: like-solid 75ms ease forwards;
}
.menu__like i {
  position: absolute;
  right: 0;
  top: 0.65em;
}
.menu__like .fas {
  z-index: 2;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.menu__like .far {
  z-index: 3;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-bottom: 2em;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.25em;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__links a {
  color: #FFFFFF;
  padding-bottom: 0.5em;
}
.footer__links a i {
  width: 1.5em;
}

.cards {
  background-color: #FFFFFF;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.5em 0.5em 0 #e6e6e6;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 300px;
  }
}
.cards:hover {
  box-shadow: 0.2em 0.5em 0.5em 0 #cccccc;
}
.cards__media {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.cards__media img {
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
}
.cards__new {
  position: absolute;
  background-color: #99E2D0;
  padding: 0.4em 1em;
  top: 1em;
  right: 1em;
  border-radius: 5%;
  color: #1b6150;
  font-weight: 500;
}
.cards__content {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.cards__main {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}
.cards__nom {
  padding-bottom: 0.3em;
  font-weight: 700;
}
.cards__like {
  font-size: 2em;
  position: relative;
}
.cards__like:hover .far {
  z-index: 1;
  animation: like-regular 75ms ease forwards;
}
.cards__like:hover .fas {
  animation: like-solid 75ms ease forwards;
}
.cards__like i {
  position: absolute;
  right: 0;
  top: 0.1em;
}
.cards__like .fas {
  z-index: 2;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.cards__like .far {
  z-index: 3;
}

@keyframes like-solid {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes like-regular {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cards-choix {
  background-color: #FFFFFF;
  display: flex;
  align-content: stretch;
  margin: 1em auto;
  width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: 0.2em 0.5em 0.5em 0 #e6e6e6;
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  animation: fade-in-cards 500ms ease-in forwards;
}
@media screen and (min-width: 992px) {
  .cards-choix {
    width: 30em;
  }
}
.cards-choix__main {
  position: relative;
  display: flex;
  padding: 1em;
  flex-grow: 1;
}
.cards-choix__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 10em;
}
.cards-choix__nom {
  font-weight: 700;
  margin-bottom: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-choix__desc {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-choix__prix {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 500;
}
.cards-choix:hover .cards-choix__check {
  display: flex;
  margin-right: 0;
}
.cards-choix:hover .cards-choix__check i {
  animation: check-roll 700ms ease 200ms;
}
.cards-choix__check {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 4.5em;
  margin-right: -4.5em;
  transition: margin-right 1s;
}
.cards-choix__check i {
  color: #FFFFFF;
  font-size: 1.75em;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.25s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.75s;
}

.delay-4 {
  animation-delay: 1s;
}

.delay-5 {
  animation-delay: 1.25s;
}

.delay-6 {
  animation-delay: 1.5s;
}

.delay-7 {
  animation-delay: 1.75s;
}

.delay-8 {
  animation-delay: 2s;
}

@keyframes fade-in-cards {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes check-roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chips {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  padding: 1.5em;
  margin-bottom: 1.2em;
  border-radius: 1em;
  position: relative;
  box-shadow: 0.2em 0.5em 0.5em 0 #d9d9d9;
}
.chips__num {
  position: absolute;
  left: -0.7em;
  top: 1.25em;
  background-color: #9356DC;
  color: #FFFFFF;
  padding: 0.5em;
  border-radius: 50%;
  width: 0.7em;
  height: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chips__icon {
  color: gray;
  margin-left: 0.5em;
  margin-right: 1em;
}
.chips__icon i {
  font-size: 1.3em;
  width: 1.2em;
}
.chips__icon.icon--primary {
  color: #9356DC;
}
.chips__text {
  font-weight: 700;
}
.chips:hover {
  box-shadow: 0.2em 0.5em 0.5em 0 #cccccc;
}
.chips:hover .chips__icon {
  color: #9356DC;
}

.loading {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loading 3s linear forwards;
}
.loading .spinner {
  height: 50px;
  width: 50px;
  border: 5px solid #e6e6e6;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

@keyframes loading {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
